@media (max-width: 1200px) {
  body {
    background-color: rgb(196, 50, 50);
    display: grid;
    grid-template-rows: 1 1;
    grid-template-columns: 1 1;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    background-color: rgb(196, 50, 50);
    transition: all 1s linear;
    tab-size: 0ch;
  }
}

@media (max-width: 1200px) {
  .block {
    /* Media*/
    background-color: rgb(196, 50, 50);
  }
}
