/*@import "~normalize.css" - import from node_modules*/
@import "fonts.css";

body {
  font-family: "Roboto", sans-serif;
}
.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.logo {
  background: url("../assets/img/logo.png") no-repeat 50% 50%;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
