extends ../layout/main.pug

block variables
  - var title = 'about page';
  - var description = 'description for about page';
  - var pageClass = 'about-page';

block content
  section
    .wrap
      h1 About Page