extends ../layout/main.pug

block variables
  - var title = 'Webpack + Pug';
  - var description = 'description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  section
    .wrap
      h1 Jade test
      h2 Test
      .link
        a(href='/about.html') About